body {
  margin: 0 auto;
  max-width: 1200px;
}

#nav-background {
  background: url(https://www.tacobell.com/medias/offers-and-deals-002.jpg?context=bWFzdGVyfGltYWdlc3wxNTYzMjR8aW1hZ2UvanBlZ3xpbWFnZXMvaDRiL2g1MS84OTMxOTk3Njc5NjQ2LmpwZ3wzMzI1NGU1Yjc1ZDQ4MDRlMTk4ODNiMDUxMzVjZmY1ZWUwN2YwZGQzMjg5ZDRhOTI5ZTFiMTM2M2Q1YTg1M2Y1)
} 