@{
  Layout = "_Layout";
}

@model Registrar.Models.Course

<h2>Delete this course?</h2>
<hr/>
<p>Course Name: @Html.DisplayFor(model => model.CourseName) </p>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}

<p>@Html.ActionLink("Back to Course List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>