@{
  Layout = "_Layout";
}

<h1>Welcome to University of TacoBell's REGISTRAR!</h1>
<p>@Html.ActionLink("See all courses", "Index", "Courses")</p>
<p>@Html.ActionLink("See all students", "Index", "Students")</p>